{
  "openapi": "3.1.0",
  "info": {
    "title": "Virtual Accounts API",
    "description": "Use this endpoint to generate a new, unique virtual bank account number for a customer or business entity.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
 "servers": [
  {
    "url": "https://pay.connectramp.com",
    "description": "Live URL"
  },
  {
    "url": "https://dev-gateman.v3.connectramp.com",
    "description": "Staging URL"
  }
],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/virtual-accounts/create": {
      "post": {
        "description": "Creates a new virtual bank account for a customer or business entity",
        "requestBody": {
          "description": "Virtual account creation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Virtual account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/virtual-accounts/generate-wallet": {
      "post": {
        "description": "Generates one or more virtual account numbers associated with the provided customer details.",
        "requestBody": {
          "description": "Virtual account generation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Action was successfull",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/get-subaccount": {
      "get": {
        "description": "Returns list of all subaccounts currently associated with your primary Cray Finance account",
        "responses": {
          "200": {
            "description": "Subaccount list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubAccountResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VirtualAccountRequest": {
        "required": [
          "bvn",
          "type",
          "nin",
          "virtual_account_type",
          "account_name",
          "rc_number",
          "currency",
          "reference",
          "customer_email",
          "provider"
        ],
        "type": "object",
        "properties": {
          "bvn": {
            "description": "Bank Verification Number (must be exactly 11 digits)",
            "type": "string",
            "pattern": "^[0-9]{11}$",
            "example": "22192474887"
          },
          "type": {
            "description": "Type of account holder. Please note: There is no need to send RC Number as part of the payload when \"Individual\" account type is selected",
            "type": "string",
            "enum": ["Corporate", "Individual"],
            "example": "Corporate"
          },
          "nin": {
            "description": "National Identification Number",
            "type": "string",
            "example": "11111122221"
          },
          "virtual_account_type": {
            "description": "Type of virtual account",
            "type": "string",
            "enum": ["Permanent", "Temporary"],
            "example": "Permanent"
          },
          "account_name": {
            "description": "Name for the virtual account",
            "type": "string",
            "example": "BOlaOla"
          },
          "rc_number": {
            "description": "Registration Certificate number",
            "type": "string",
            "example": "99988828822"
          },
          "currency": {
            "description": "Currency code",
            "type": "string",
            "enum": ["NGN"],
            "example": "NGN"
          },
          "reference": {
            "description": "Unique reference for the transaction",
            "type": "string",
            "format": "uuid",
            "example": "cbf0d060-1544-4a53-a00b-7cb75a3eb59d"
          },
          "customer_email": {
            "description": "Customer's email address",
            "type": "string",
            "format": "email",
            "example": "hello@gmail.com"
          },
          "provider": {
            "description": "Virtual account provider",
            "type": "string",
            "enum": ["monnify", "Wema", "Bloc"],
            "example": "monnify"
          }
        }
      },
      "VirtualAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Action was Successful"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankAccount"
            }
          }
        }
      },
      "GenerateAccountRequest": {
        "required": [
          "otp",
          "customer_email"
        ],
        "type": "object",
        "properties": {
          "otp": {
            "description": "OTP (One-Time Password) is sent to the customer’s registered email address",
            "type": "string",
            "pattern": "^[0-9]{6}$",
            "example": "768238"
          },
          "customer_email": {
            "description": "Customer's email address",
            "type": "string",
            "format": "email",
            "example": "hello@gmail.com"
          }
        }
      },
      "GenerateAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Action was Successful"
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "bankCode": {
            "description": "Bank code identifier",
            "type": "string",
            "example": "035"
          },
          "bankName": {
            "description": "Name of the bank",
            "type": "string",
            "example": "Wema bank"
          },
          "accountNumber": {
            "description": "Generated virtual account number",
            "type": "string",
            "example": "4114669663"
          },
          "accountName": {
            "description": "Account holder name",
            "type": "string",
            "example": "BOl"
          }
        }
      },
      "SubAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "SubAccount Details"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubAccount"
            }
          }
        }
      },
      "SubAccount": {
        "type": "object",
        "properties": {
          "uuid": {
            "description": "Unique identifier for the subaccount",
            "type": "string",
            "example": "9999999999"
          },
          "company_name": {
            "description": "Name of the company",
            "type": "string",
            "example": "test"
          },
          "company_email": {
            "description": "Company email address",
            "type": "string",
            "format": "email",
            "example": "test@gmail.com"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer authentication header of the form Bearer `<token>`, where `<token>` is your auth token."
      }
    }
  }
}