{
  "openapi": "3.1.0",
  "info": {
    "title": "Cray Wallets",
    "description": "Get your cray finance wallet balance",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
  {
    "url": "https://pay.connectramp.com",
    "description": "Live URL"
  },
  {
    "url": "https://dev-gateman.v3.connectramp.com",
    "description": "Staging URL"
  }
],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/balance": {
      "get": {
        "description": "Returns all Cray accounts/wallets and their respective balances",
        "responses": {
          "200": {
            "description": "Account balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "message": {
            "type": "string",
            "example": "Account balance retrieved successfully"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/accounts"
            }
          }
        }
      },
      "accounts": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the subaccount",
            "type": "string",
            "example": "account-uuid-1"
          },
          "account_name": {
            "description": "Name of the account",
            "type": "string",
            "example": "Main Account"
          },
          "currency": {
            "description": "Account currency code",
            "type": "string",
            "example": "NGN"
          },
          "account_type": {
            "description": "Type of account",
            "type": "string",
            "example": "SAVINGS"
          },
          "account_number": {
            "description": "Account number",
            "type": "string",
            "example": "1234567890"
          },
          "available_balance": {
            "description": "Available balance that can be used for transactions",
            "type": "number",
            "format": "double",
            "example": 50000.00
          },
          "locked_balance": {
            "description": "Balance that is locked or reserved and cannot be used",
            "type": "number",
            "format": "double",
            "example": 5000.00
          },
          "actual_balance": {
            "description": "Total account balance (available + locked)",
            "type": "number",
            "format": "double",
            "example": 55000.00
          },
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer authentication header of the form Bearer `<token>`, where `<token>` is your auth token."
      }
    }
  }
}