{
  "openapi": "3.1.0",
  "info": {
    "title": "Cray Finance API",
    "description": "A sample API for Cray Finance",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pay.connectramp.com/api",
      "description": "Live URL"
    },
    {
      "url": "https://dev-gateman.v3.connectramp.com/api",
      "description": "Staging URL"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payout/banks": {
      "get": {
        "summary": "Get Banks",
        "description": "The GET Banks endpoint is your one-stop shop to easily grab a comprehensive list of all supported banks! This is super useful for making your app smooth for users. You can use it to instantly populate bank options during user onboarding or when they’re setting up payout and transfer operations, which helps ensure total accuracy and cuts down on frustrating input errors!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "Used only for Mobile Money or Ghanaian account verification. Example: “GH”",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action was Succesfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "code": "120001",
                      "name": "9 PAYMENT SERVICE BANK"
                    }
                  ],
                  "message": "Action was Succesfull"
                }
              }
            }
          }
        }
      }
    },
    "/payout/payment-methods/{countryCode}": {
      "get": {
        "summary": "Get Payment Methods",
        "description": "The GET Payment Methods endpoint is your handy way to instantly see all available payout options for a specific country! You just use the {countryCode} in the path, and it tells you exactly which payment methods—like bank transfer, mobile money, or wallet options—are supported in that region. This is super useful for dynamically showing only valid payout channels and making sure your users can select the correct options during disbursement setup!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The country code (e.g., 'GH', 'NG').",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action was Succesfull",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "success": true,
                    "data": [
                      {
                        "alias": "ach",
                        "code": "ach",
                        "maxAmount": "10000000",
                        "minAmount": "1",
                        "name": "ACH",
                        "requiresConfirmation": false
                      },
                      {
                        "alias": "rtp",
                        "code": "rtp",
                        "maxAmount": "10000000",
                        "minAmount": "1",
                        "name": "RTP",
                        "requiresConfirmation": false
                      },
                      {
                        "alias": "wire",
                        "code": "wire",
                        "maxAmount": "10000000",
                        "minAmount": "1",
                        "name": "FEDWIRE",
                        "requiresConfirmation": false
                      },
                      {
                        "alias": "fednow",
                        "code": "fednow",
                        "maxAmount": "10000000",
                        "minAmount": "1",
                        "name": "FEDNOW",
                        "requiresConfirmation": false
                      },
                      {
                        "alias": "swift",
                        "code": "US",
                        "maxAmount": "10000000",
                        "minAmount": "1",
                        "name": "Global Swift Transfer",
                        "requiresConfirmation": false
                      }
                    ],
                    "message": "Payment methods retrieved"
                  },
                  "message": "Action was Succesfull"
                }
              }
            }
          }
        }
      }
    },
    "/payout/accounts/validate": {
      "post": {
        "summary": "Account Name Lookup",
        "description": "The Validate endpoint is your handy tool for making sure money goes to the right person! It allows you to validate a bank account number instantly using just the provided account number and bank code. It quickly returns the corresponding account name, which is super helpful for you to confirm the beneficiary’s details before processing any payouts or transfers. This quick verification step totally prevents errors and ensures your funds are always sent to the correct recipient!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "description": "The recipient’s bank or mobile money account number to verify.",
                    "example": "0112345678"
                  },
                  "bank_code": {
                    "type": "string",
                    "description": "The bank or mobile money provider code.",
                    "example": "058"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Used only for Mobile Money or Ghanaian account verification.",
                    "example": "GH"
                  }
                },
                "required": ["account_number", "bank_code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action was Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_name": {
                          "type": "string"
                        },
                        "account_number": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "account_name": "JOHN DOE",
                    "account_number": "0112345678",
                    "red_id": "sess_692824141b221c00d70876e5"
                  },
                  "message": "Action was Successful"
                }
              }
            }
          }
        }
      }
    },
    "/payout/disburse": {
      "post": {
        "x-mintlify-docs-path": "pay-outs/payout",
        "summary": "Process Transfer",
        "description": "The POST Disburse endpoint is what you use to easily send money from your merchant wallet right into a beneficiary’s bank account! This request is super important for seamless and secure disbursements to your vendors, partners, or customers. It requires your API key for authorization and accepts a simple JSON payload containing the transfer amount, a unique customer reference, the destination bank code, account number, recipient name, and an optional narration. It ensures all your transfers are traceable and processed quickly!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_reference": {
                    "type": "string"
                  },
                  "account_number": {
                    "type": "string"
                  },
                  "bank_code": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "narration": {
                    "type": "string"
                  },
                  "recipient_name": {
                    "type": "string"
                  },
                  "ref_id": {
                    "type": "string"
                  },
                  "sender_info": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "receipient_info": {
                    "type": "object",
                    "properties": {
                      "account_number": {
                        "type": "string"
                      },
                      "account_name": {
                        "type": "string"
                      },
                      "routing_number": {
                        "type": "string"
                      },
                      "account_type": {
                        "type": "string"
                      },
                      "receipient_address": {
                        "type": "object",
                        "properties": {
                          "countryCode": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "currency": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "payment_method": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "NGN": {
                  "summary": "NGN Transfer",
                  "value": {
                    "customer_reference": "",
                    "account_number": "898789",
                    "bank_code": "78978",
                    "amount": "10",
                    "narration": "Testing",
                    "recipient_name": "",
                    "ref_id": "sess_692824141b221c00d70876e5",
                    "sender_info": {
                      "name": "Johnson",
                      "phone": "",
                      "email": ""
                    }
                  }
                },
                "USD": {
                  "summary": "USD Transfer",
                  "value": {
                    "customer_reference": "",
                    "account_number": "898789",
                    "amount": "10",
                    "narration": "Testing",
                    "sender_info": {
                      "name": "Johnson",
                      "phone": "",
                      "email": ""
                    },
                    "receipient_info": {
                      "account_number": "22997000000",
                      "account_name": "Sam",
                      "routing_number": "123456789",
                      "account_type": "checking",
                      "receipient_address": {
                        "countryCode": "US",
                        "state": "California",
                        "city": "Los Angeles",
                        "address": "123 Sunlvd",
                        "postalCode": "900981"
                      }
                    },
                    "currency": "USD",
                    "countryCode": "BN",
                    "payment_method": "wire"
                  }
                },
                "ZMW": {
                  "summary": "ZMW Transfer",
                  "value": {
                    "customer_reference": "{{reference}}",
                    "account_number": "260760237434",
                    "amount": "41",
                    "narration": "Testing",
                    "currency": "ZMW",
                    "countryCode": "ZM",
                    "receipient_info": {
                      "account_number": "260760237434"
                    }
                  }
                },
                "GHS": {
                  "summary": "GHS Transfer",
                  "value": {
                    "customer_reference": "{{reference}}",
                    "account_number": "898789",
                    "amount": "10",
                    "narration": "Testing",
                    "recipient_name": "",
                    "sender_info": {
                      "name": "Johnson",
                      "phone": "",
                      "email": ""
                    },
                    "receipient_info": {
                      "account_number": "22997000000",
                      "account_name": "Sam",
                      "bank_name": "MTN",
                      "bank_code": "mtn"
                    },
                    "currency": "GHS"
                  }
                },
                "XOF": {
                  "summary": "XOF Transfer",
                  "value": {
                    "customer_reference": "{{reference}}",
                    "account_number": "898789",
                    "amount": "10",
                    "narration": "Testing",
                    "recipient_name": "",
                    "sender_info": {
                      "name": "Johnson",
                      "phone": "",
                      "email": ""
                    },
                    "receipient_info": {
                      "account_number": "22997000000",
                      "account_name": "Sam"
                    },
                    "currency": "XOF"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action was Succesfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "charge": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "recipient_name": {
                          "type": "string"
                        },
                        "recipient_bank_code": {
                          "type": "string"
                        },
                        "recipient_account_number": {
                          "type": "string"
                        },
                        "processor_reference": {
                          "type": "null"
                        },
                        "merchant_reference": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "reference": "TZPNQ7SH3GWB846",
                    "amount": "120",
                    "charge": 20,
                    "status": "pending",
                    "recipient_name": "John DOE",
                    "recipient_bank_code": "058",
                    "recipient_account_number": "0171605931",
                    "processor_reference": null,
                    "merchant_reference": "2772h727dycncwddfdfdfnnccffhrfjjhhf2dfdhfhhb7dfr3fddhdd2ery"
                  },
                  "message": "Action was Succesfull"
                }
              }
            }
          }
        }
      }
    },
    "/payout/requery/{transaction_id}": {
      "get": {
        "x-mintlify-docs-path": "pay-outs/payout",
        "summary": "Verify Transaction",
        "description": "The GET Requery endpoint is your instant way to check on any money you’ve sent out! It allows you to immediately retrieve the current status of a specific payout using its unique transaction_id as a path parameter. This is super useful for confirming whether a disbursement was successful, pending, or failed, which ensures transparency and makes troubleshooting or reconciliation processes a total breeze!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "63SUKNX9A5CRZH41754953377"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "charge": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "recipient_name": {
                          "type": "string"
                        },
                        "recipient_bank_code": {
                          "type": "string"
                        },
                        "recipient_account_number": {
                          "type": "string"
                        },
                        "processor_reference": {
                          "type": "string"
                        },
                        "merchant_reference": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "reference": "TZPNQ7SH3GWB846",
                    "amount": "120.00",
                    "charge": "20.00",
                    "status": "approved",
                    "recipient_name": "John DOE",
                    "recipient_bank_code": "058",
                    "recipient_account_number": "0171605931",
                    "processor_reference": "TZPNQ7SH3GWB846",
                    "merchant_reference": "2772h727dycncwddfdfdfnnccffhrfjjhhf2dfdhfhhb7dfr3fddhdd2ery"
                  },
                  "message": "Action was Succesfull"
                }
              }
            }
          }
        }
      }
    },
    "/v2/refund/initiate": {
      "post": {
        "x-mintlify-docs-path": "refund/overview",
        "summary": "Initiate Refund",
        "description": "This endpoint allows you to initiate a full or partial refund for a transaction.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pan": {
                    "type": "string"
                  },
                  "subaccount_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string",
                    "description": "The amount to be refunded. If not provided, a full refund is initiated."
                  }
                }
              },
              "examples": {
                "Full Refund": {
                  "summary": "Initiate a full refund",
                  "value": {
                    "pan": "4696660001638370",
                    "subaccount_id": "9999999999"
                  }
                },
                "Partial Refund": {
                  "summary": "Initiate a partial refund",
                  "value": {
                    "pan": "4696660001638370",
                    "subaccount_id": "9999999999",
                    "amount": "1.2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "reference": {
                          "type": "string"
                        },
                        "customer_reference": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "phone_no": {
                          "type": "string"
                        },
                        "payment_provider": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Full Refund": {
                    "summary": "Full refund response",
                    "value": {
                      "status": true,
                      "message": "Refund request initiated successfully",
                      "data": {
                        "reference": "22cbff5f-68d0-432e-b0fa-708cad9b45a2"
                      }
                    }
                  },
                  "Partial Refund": {
                    "summary": "Partial refund response",
                    "value": {
                      "status": true,
                      "message": "Transaction is processing",
                      "data": {
                        "status": "Failed",
                        "reference": "2JDSN4LBZWCRQEA9GXFH",
                        "customer_reference": "ad75b9bb-2501-4761-8980-42b525e21c37",
                        "amount": "20.00",
                        "currency": "GHS",
                        "phone_no": "233801234567",
                        "payment_provider": "MTN",
                        "date": "2025-07-30T09:31:29.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/refund/query/{reference}": {
      "get": {
        "x-mintlify-docs-path": "refund/overview",
        "summary": "Check Refund Status",
        "description": "The GET Query endpoint is your quick and easy way to check on any refund you’ve initiated! It allows you to instantly retrieve all the details and the current status of a specific refund just by using its reference ID as a path variable ( /v2/refund/query/:reference ). This functionality is super useful for tracking the refund process in real-time, helping your business monitor everything seamlessly and provide accurate updates to your customers!",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "44caab25-1ef7-4564-b3ce-3bd2f5990ccb"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "reference": {
                          "type": "string"
                        },
                        "transaction": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "string"
                            },
                            "reference": {
                              "type": "string"
                            },
                            "provider_reference": {
                              "type": "string"
                            },
                            "pan number": {
                              "type": "string"
                            },
                            "created": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "metadata": {
                          "type": "string"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "message": "Success",
                  "data": {
                    "status": "Refunded",
                    "reference": "44caab25-1ef7-4564-b3ce-3bd2f5990ccb",
                    "transaction": {
                      "currency": "USD",
                      "amount": "2.26",
                      "reference": "A74HULEKBXCRGQ2",
                      "provider_reference": "5316876492355694350",
                      "pan number": "424242 **** **** 4242",
                      "created": "2025-03-31T23:58:00.000000Z"
                    },
                    "metadata": "",
                    "created": "2025-04-17T16:53:47.000000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/rates": {
      "get": {
        "x-mintlify-docs-path": "conversions/overview",
        "summary": "Get Specific Exchange Rate",
        "description": "Retrieves the current exchange rate, Service Level Agreement (SLA), and settlement type for a specific currency pair.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "destination_currency": {
                    "type": "string",
                    "example": "NGN"
                  }
                },
                "required": ["source_currency", "destination_currency"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "source_currency": {
                          "type": "string"
                        },
                        "destination_currency": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "string"
                        },
                        "sla": {
                          "type": "integer"
                        },
                        "settlement": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 19,
                    "source_currency": "USD",
                    "destination_currency": "NGN",
                    "rate": "1450.000000",
                    "sla": 3,
                    "settlement": "automatic",
                    "status": "active",
                    "created_at": "2025-04-11T14:40:45.000000Z",
                    "updated_at": "2025-11-10T13:20:05.000000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/rates/destination": {
      "get": {
        "x-mintlify-docs-path": "conversions/overview",
        "summary": "Get Rates by Destination Currency",
        "description": "Retrieves all available exchange rates for a given destination currency.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination_currency": {
                    "type": "string",
                    "example": "NGN"
                  }
                },
                "required": ["destination_currency"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "source_currency": {
                            "type": "string"
                          },
                          "destination_currency": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "string"
                          },
                          "sla": {
                            "type": "integer"
                          },
                          "settlement": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 4,
                      "source_currency": "EUR",
                      "destination_currency": "NGN",
                      "rate": "5002.000000",
                      "sla": 0,
                      "settlement": "automatic",
                      "status": "Active"
                    },
                    {
                      "id": 19,
                      "source_currency": "USD",
                      "destination_currency": "NGN",
                      "rate": "1450.000000",
                      "sla": 3,
                      "settlement": "automatic",
                      "status": "active"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/quotes": {
      "post": {
        "x-mintlify-docs-path": "conversions/quotes",
        "summary": "Generate a Quote",
        "description": "Before converting, you must generate a quote. The quote locks in the conversion rate for a specific duration (default: 10 minutes).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination_currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "source_currency": {
                    "type": "string",
                    "example": "NGN"
                  },
                  "source_amount": {
                    "type": "number",
                    "example": 1500
                  }
                },
                "required": [
                  "destination_currency",
                  "source_currency",
                  "source_amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote_id": {
                          "type": "string"
                        },
                        "conversion_rate": {
                          "type": "number"
                        },
                        "expires_in_minutes": {
                          "type": "integer"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "quote_id": "quote:f9d96be7-5653-4e90-a5ad-4420db7b0195",
                    "conversion_rate": 1600,
                    "expires_in_minutes": 10
                  },
                  "message": "Quote generated"
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/conversions/convert": {
      "post": {
        "x-mintlify-docs-path": "conversions/execute-conversions",
        "summary": "Execute Conversion",
        "description": "Finalizes the conversion using a valid quote_id obtained from the “Generate a Quote” endpoint.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_id": {
                    "type": "string",
                    "example": "quote:98a5d6d3-7cbc-4c7d-b4f6-d3bbbbe340b6"
                  }
                },
                "required": ["quote_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote_id": {
                          "type": "string"
                        },
                        "debit_transaction_id": {
                          "type": "integer"
                        },
                        "credit_transaction_id": {
                          "type": "integer"
                        },
                        "settlement": {
                          "type": "string"
                        },
                        "sla_minutes": {
                          "type": "integer"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "quote_id": "quote:98a5d6d3-7cbc-4c7d-b4f6-d3bbbbe340b6",
                    "debit_transaction_id": 2605,
                    "credit_transaction_id": 2606,
                    "settlement": "automatic",
                    "sla_minutes": 0
                  },
                  "message": "Conversion initialized"
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/conversions": {
      "get": {
        "x-mintlify-docs-path": "conversions/query-conversions",
        "summary": "List Conversions",
        "description": "Retrieves a history of conversion transactions.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of conversions.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "quote_id": "quote:98a5d6d3-7cbc-4c7d-b4f6-d3bbbbe340b6",
                      "debit_transaction_id": 2605,
                      "credit_transaction_id": 2606,
                      "status": "completed",
                      "created_at": "2025-04-18T10:30:00.000000Z"
                    }
                  ],
                  "message": "Conversions retrieved"
                }
              }
            }
          }
        }
      }
    },
    "/v2/merchant/conversions/{conversion_id}/dispute": {
      "post": {
        "x-mintlify-docs-path": "conversions/dispute-conversions",
        "summary": "Dispute Conversion",
        "description": "Allows a merchant to raise a dispute on a specific conversion transaction (e.g., if credit is delayed beyond SLA).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "conversion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the conversion to dispute."
          }
        ],
        "requestBody": {
          "description": "Optional reason for the dispute.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "example": "Credit not received after SLA."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispute raised successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "type": "delayed",
                  "description": "Conversion pending beyond SLA; no credit yet."
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "bearer"
      }
    }
  }
}
